{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      <form method="post" action="{% url 'admin:news_post_create_today_draft' %}" style="display: inline;">
        {% csrf_token %}
        <button
          type="submit"
          class="addlink"
          style="border: 0; cursor: pointer; padding: 10px 15px; border-radius: 15px;"
        >
          오늘의 초안 생성
        </button>
      </form>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
