{% extends "layouts/base.html" %}

{% block meta_title %}{{ post.title }} | ByeolAndClassic{% endblock %}
{% block meta_description %}{{ post.content|striptags|truncatechars:140 }}{% endblock %}

{% block content %}
  {% if post.thumbnail %}
    <div class="mb-4">
      <img class="img-fluid rounded shadow-sm w-100" src="{{ post.thumbnail.url }}" alt="{{ post.title }} 썸네일">
    </div>
  {% endif %}
  <h2>{{ post.title }}</h2>
  {% if post.published_at %}
    <p class="text-muted">{{ post.published_at|date:"Y-m-d" }}</p>
  {% endif %}
  <div class="news-content mb-4">
    {{ post_html|safe }}
  </div>
  {% if post.attachment %}
    <a class="btn btn-outline-primary" href="{{ post.attachment.url }}" download>
      첨부파일 다운로드
    </a>
  {% endif %}
{% endblock %}
