{% extends "layouts/base.html" %}

{% block meta_title %}{{ post.title }} | ByeolAndClassic{% endblock %}
{% block meta_description %}{{ post.content|striptags|truncatechars:140 }}{% endblock %}

{% block content %}
  <h2>{{ post.title }}</h2>
  {% if post.published_at %}
    <p>{{ post.published_at|date:"Y-m-d" }}</p>
  {% endif %}
  <div>
    {{ post.content|linebreaks }}
  </div>
  {% if post.thumbnail %}
    <div>
      <img src="{{ post.thumbnail.url }}" alt="{{ post.title }} 썸네일">
    </div>
  {% endif %}
  {% if post.attachment %}
    <p><a href="{{ post.attachment.url }}">첨부파일 다운로드</a></p>
  {% endif %}
{% endblock %}
